{% extends 'Manufcture/manufacture_index.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/searchtailorshop1#about">
  <table width="375" height="192" border="1" class="table table-success table-striped">
    <tr>
      <th colspan="7"><label>Name:
        <input type="text" name="textfield" required  class="bg-transparent" value="{{ a }}"/>
        <input type="submit" name="Submit" value="Search" class="btn btn-outline-success"/>
      </label></th>
    </tr>
    <tr>
      <th width="37">Name</th>
      <th width="51">Address</th>
      <th width="38">Phone</th>
      <th width="33">Email</th>
      <th width="79">Licenseproof</th>
      <th width="36">Photo</th>
      <th width="225">&nbsp;</th>
    </tr>
       {% for i in val %}
    <tr>
      <td>{{ i.Name }}</td>
      <td>{{ i.Place }}<br>
      {{ i.Post }}<br>
      {{ i.Pin }}</td>
      <td>{{ i.Phone }}</td>
      <td>{{ i.Email }}</td>
      <td><a href="{{ i.License.url }}" target="_blank">{{ i.License }}</a></td>
      <td><img src="media/{{ i.Photo }}"height="100px" width="100px" alt=""/></td>
      <td><p><a href="edit_tailorshop/{{ i.id }}#about" class="btn btn-outline-primary">Edit </a></p>
      <p><a href="delete_taliorshop/{{ i.id }}" class="btn btn-outline-danger">Delete</a></p></td>
    </tr>
             {% endfor %}

    <tr>
      <td colspan="7"><div align="center"><a href="addts#about" class="btn btn-success">Add New</a></div></td>
    </tr>
  </table>
  <p>&nbsp;</p>
</form>
{% endblock %}