<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="182" height="276" border="1">
    <tr>
      <td width="195">Manufacture Home </td>
    </tr>
    <tr>
      <td><a href="manage_designers">Add/Manage Designers</a></td>
    </tr>
    <tr>
      <td><a href="managetailorshop">Add/Manage TailorShops</a></td>
    </tr>
    <tr>
      <td><a href="block_unblocktrailorshop">Block/Unblock Trailorshops</a></td>
    </tr>
    <tr>
      <td><a href="Block_unblockdesigners">Block/Unblock Designers</a></td>
    </tr>
    <tr>
      <td><a href="managematerials">Manage Materials</a></td>
    </tr>
    <tr>
      <td><a href="vieworder">View OrderDetails & Assign To Trailor Shops</a></td>
    </tr>
    <tr>
      <td><a href="viewrating">View Rating</a></td>
    </tr>
    <tr>
      <td><a href="vieworderstatus">View Order Status</a></td>
    </tr>
    <tr>
      <td><label>
        <div align="center">
<div align="center"><a href="/">Logout</a>          </div>
      </label></td>
    </tr>
  </table>
</form>
</body>
</html>
